######################
# LaTeX output files #
######################
*.log
*.aux
*.bbl
*.blg
*.out
*.lof
*.lot
*.loa
*.toc
*.nlo
*.nls
*.ilg
*.nlo-old

######################
# Other files        #
######################
*~
*.tex.backup
*.tex.bak
**/*.tex.bak
*.pdf
**/*.pdf
*.synctex.gz
*.zip
